# Ignore build artifacts and OS junk
build/
.flutter-plugins
.flutter-plugins-dependencies
.dart_tool/
.pub-cache/
packages
node_modules

# Ignore ephemeral Flutter platform folders
android/.gradle/
ios/.symlinks/
macos/Flutter/ephemeral/
windows/flutter/ephemeral/
linux/flutter/ephemeral/

# Ignore other unnecessary things
test/
coverage/
